<div class="page-header">
  <h1><%=t '.title', :default => t('recommendations') %></h1>
</div>
<ul class="nav nav-tabs">
  <% @recommendations.each_with_index do |(recommender, recommended_comics), i| %>
    <li class='<%= "active" if i == 0 %>'>
      <a href="#recommenders-<%= recommender.name %>" data-toggle="tab" role="tab">
        <%= t "recommenders.#{recommender.name}" %>
      </a>
    </li>
  <% end %>
</ul>
<div class="tab-content">
  <% @recommendations.each_with_index do |(recommender, recommended_comics), i| %>
    <div class="tab-pane <%= "active" if i == 0 %>" id="recommenders-<%= recommender.name %>">
      <%= render partial: "comics/comics_table", locals: { comics: recommended_comics, model_class: Comic }  %>
    </div>
  <% end %>
</div>
