<%
  default_size = '16'

  licenses = {
    creative_commons_attribution_3_0_us: {
      name: 'Creative Commons Attribution 3.0 US',
      url: 'http://creativecommons.org/licenses/by/3.0/us/'
    }
  }

  sources = {
    the_noun_project: {
      name: "The Noun Project",
      url: 'https://thenounproject.com/'
    }
  }

  attributions = {
    check_mark_icon: {
      url: 'https://thenounproject.com/search/?q=check&i=1037954',
      creator: 'Kimmi Studio',
      source: sources[:the_noun_project],
      license: licenses[:creative_commons_attribution_3_0_us],
      name: 'check-mark.svg',
      size: '18'
    },
    delete_icon: {
      url: 'https://thenounproject.com/term/delete/6158/',
      creator: 'Thomas Le Bas',
      source: sources[:the_noun_project],
      license: licenses[:creative_commons_attribution_3_0_us],
      name: 'delete.svg',
      size: '12'
    },
    edit_icon: {
      url: 'https://thenounproject.com/term/pencil/5039/',
      creator: 'Dmitry Baranovskiy',
      source: sources[:the_noun_project],
      license: licenses[:creative_commons_attribution_3_0_us],
      name: 'edit.svg',
      size: default_size
    },
    missing_issues_icon: {
      url: 'https://thenounproject.com/search/?q=invisible&i=71735',
      creator: 'iconsmind.com',
      source: sources[:the_noun_project],
      license: licenses[:creative_commons_attribution_3_0_us],
      name: 'missing-issues.svg',
      size: default_size
    },
    note_icon: {
      url: 'https://thenounproject.com/term/note/51567/',
      creator: 'Marek Polakovic',
      source: sources[:the_noun_project],
      license: licenses[:creative_commons_attribution_3_0_us],
      name: 'note.svg',
      size: default_size
    },
    play_icon: {
      url: 'https://thenounproject.com/search/?q=play&i=972870',
      creator: 'logan',
      source: sources[:the_noun_project],
      license: licenses[:creative_commons_attribution_3_0_us],
      name: 'play.svg',
      size: default_size
    },
    zero_icon: {
      url: 'https://thenounproject.com/term/off/80720/',
      creator: 'Arthur Shlain',
      source: sources[:the_noun_project],
      license: licenses[:creative_commons_attribution_3_0_us],
      name: 'zero.svg',
      size: default_size
    }
  }
%>
<ul>
  <%
    attributions.each do |name, image|
  %>
    <li>
      <%=
        link_to t(name.to_s), image[:url] %> - <%= image_tag(image[:name], alt: t(name.to_s), size: image[:size] ) %>
        <br />
        Created by <%= image[:creator] %>
        <br />
        from <%= link_to image[:source][:name], image[:source][:url] %>
        <br />
        Licensed under <%= link_to image[:license][:name], image[:license][:url]
      %>
    </li>
  <% end %>
</ul>
