<table class="table table-striped comics-list">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:total_issues) %></th>
      <th><%= model_class.human_attribute_name(:next_issue_to_read) %></th>
      <th><%= model_class.human_attribute_name(:issues_owned) %></th>
      <th><%= t('status') %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% comics.each do |comic| %>
      <tr>
        <td><%= link_to comic.title, comic_path(comic)  %></td>
        <td><%= comic.total_issues %></td>
        <td><%= comic.next_issue_to_read %></td>
        <td><%= comic.issues_owned %></td>
        <td>
          <%=
            image_tag(
              (comic.no_more_issues ? 'stop-enabled.png' : 'stop-disabled.png' ),
              alt: (comic.no_more_issues ? t('no_more_issues') : t('has_more_issues') ),
              title: (comic.no_more_issues ? t('no_more_issues') : t('has_more_issues') ),
              size: '16'
            )
          %>
          <%=
            image_tag(
              (comic.has_issue_zero ? 'zero-enabled.png' : 'zero-disabled.png' ),
              alt: (comic.has_issue_zero ? t('has_zero_issue') : t('no_zero_issue') ),
              title: (comic.has_issue_zero ? t('has_zero_issue') : t('no_zero_issue') ),
              size: '16'
            )
          %>
          <%=
            image_tag(
              (comic.all_issues_owned? ? 'missing-issues-disabled.png' : 'missing-issues-enabled.png' ),
              alt: (comic.all_issues_owned? ? t('all_issues_owned') : t('issues_missing') ),
              title: (comic.all_issues_owned? ? t('all_issues_owned') : t('issues_missing') ),
              size: '16'
            )
          %>
          <%=
            image_tag(
              (comic.started_reading? && !comic.finished_reading? ? 'play-enabled.png' : 'play-disabled.png' ),
              alt: (comic.started_reading? && !comic.finished_reading? ? t('started_reading') : t('not_started_reading') ),
              title: (comic.started_reading? && !comic.finished_reading? ? t('started_reading') : t('not_started_reading') ),
              size: '16'
            )
          %>
          <%=
            image_tag(
              (comic.finished_reading? ? 'check-mark-enabled.png' : 'check-mark-disabled.png' ),
              alt: (comic.finished_reading? ? t('finished_reading') : t('not_finished_reading') ),
              title: (comic.finished_reading? ? t('finished_reading') : t('not_finished_reading') ),
              size: '19'
            )
          %>
          <%=
            if !comic.notes.blank?
              content_tag(
                :div,
                image_tag('note-enabled.png', alt: t('has_notes'), size: '16'),
                data: {
                  html: "true",
                  toggle: "popover",
                  trigger: "hover",
                  placement: "left",
                  content: simple_format(comic.notes, class: 'notes-formatted')
                },
                class: 'notes-icon'
              )
            else
              image_tag('note-disabled.png', alt: t('no_notes'), size: '16')
            end
          %>
        </td>
        <td>
          <%=
            link_to(
              image_tag(
                'edit.svg',
                alt: t('.edit', :default => t("helpers.links.edit")),
                title: t('.edit', :default => t("helpers.links.edit")),
                size: '16'
              ),
              edit_comic_path(comic)
            )
          %>
          <%=
            link_to(
              image_tag(
                'delete.svg',
                alt: t('.destroy', :default => t("helpers.links.destroy")),
                title: t('.destroy', :default => t("helpers.links.destroy")),
                size: '14'
              ),
              comic_path(comic),
              :method => :delete,
              :data => {
                :confirm => t(
                  '.confirm',
                  :default => t("helpers.links.confirm", :default => 'Are you sure?')
                )
              }
            )
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
