<%= form_for @comic, :html => { :class => "form-horizontal comic" } do |f| %>

  <% if @comic.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@comic.errors.count, "error") %> prohibited this comic from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @comic.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'form-control', autofocus: true %>
    </div>
    <%= f.error_span :title %>
  </div>
  <div class="control-group">
    <%= f.label :total_issues, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :total_issues, min: 0, step: 1, :class => 'form-control' %>
    </div>
    <%= f.error_span :total_issues %>
  </div>
  <div class="control-group">
    <%= f.label :has_issue_zero, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :has_issue_zero, :class => 'form-control' %>
    </div>
    <%= f.error_span :has_issue_zero %>
  </div>
  <div class="control-group">
    <%= f.label :no_more_issues, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :no_more_issues, :class => 'form-control' %>
    </div>
    <%= f.error_span :no_more_issues %>
  </div>
  <div class="control-group">
    <%= f.label :issues_owned, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :issues_owned, :class => 'form-control' %>
    </div>
    <%= f.error_span :issues_owned %>
  </div>
  <div class="control-group">
    <%= f.label :issues_removed_from_storage, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :issues_removed_from_storage, :class => 'form-control' %>
    </div>
    <%= f.error_span :issues_removed_from_storage %>
  </div>
  <div class="control-group">
    <%= f.label :next_issue_to_read, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :next_issue_to_read, min: 0, step: 1, :class => 'form-control' %>
    </div>
    <%= f.error_span :next_issue_to_read %>
  </div>
  <div class="control-group">
    <%= f.label :notes, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :notes, :class => 'form-control' %>
    </div>
    <%= f.error_span :notes %>
  </div>
  <div class="control-group">
    <%= f.label :url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :url, :class => 'form-control' %>
    </div>
    <%= f.error_span :url %>
  </div>


  <div style="margin-top: 15px">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
              comics_path, :class => 'btn btn-default' %>
  </div>

<% end %>

<script>
$(document).ready(function() {
  $('#comic_has_issue_zero').change(function() {
    var next_issue_field = $('#comic_next_issue_to_read');
    if(this.checked) {
      if (next_issue_field.val() == 1) {
        next_issue_field.val(0);
      }
    } else {
      if (next_issue_field.val() == 0) {
        next_issue_field.val(1);
      }
    }
  });
});
</script>
