<%- model_class = Comic -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<%= render partial: "comics_table", locals: { comics: @comics, model_class: model_class }  %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_comic_path,
            :class => 'btn btn-primary' %>
