<%- model_class = Comic -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @comic.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:total_issues) %>:</strong></dt>
  <dd><%= @comic.total_issues %></dd>
  <dt><strong><%= model_class.human_attribute_name(:has_issue_zero) %>:</strong></dt>
  <dd><%= @comic.has_issue_zero %></dd>
  <dt><strong><%= model_class.human_attribute_name(:no_more_issues) %>:</strong></dt>
  <dd><%= @comic.no_more_issues %></dd>
  <dt><strong><%= model_class.human_attribute_name(:issues_owned) %>:</strong></dt>
  <dd><%= @comic.issues_owned %></dd>
  <dt><strong><%= model_class.human_attribute_name(:issues_removed_from_storage) %>:</strong></dt>
  <dd><%= @comic.issues_removed_from_storage %></dd>
  <dt><strong><%= model_class.human_attribute_name(:next_issue_to_read) %>:</strong></dt>
  <dd><%= @comic.next_issue_to_read %></dd>
  <dt><strong><%= model_class.human_attribute_name(:notes) %>:</strong></dt>
  <dd><%= simple_format @comic.notes, class: 'notes-formatted' %></dd>
  <dt><strong><%= model_class.human_attribute_name(:url) %>:</strong></dt>
  <dd><%= @comic.url %></dd>
  <dt><strong>Missing Issues</strong></dt>
  <dd class='text-danger'><%= @comic.missing_issues %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              comics_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_comic_path(@comic), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              comic_path(@comic),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
