<div class="page-header">
  <h1><%=t :comic_statistics_title %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= t "comic_statistics.number_of_comics_collected" %>:</strong></dt>
  <dd><%= @stats.number_of_comics_collected %></dd>
  <dt><strong><%= t "comic_statistics.total_issues_owned" %>:</strong></dt>
  <dd><%= @stats.total_issues_owned %></dd>
  <dt><strong><%= t "comic_statistics.total_issues_read" %>:</strong></dt>
  <dd><%= @stats.total_issues_read %></dd>
  <dt><strong><%= t "comic_statistics.total_issues_removed_from_storage" %>:</strong></dt>
  <dd><%= @stats.total_issues_removed_from_storage %></dd>
</dl>


