/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require font-awesome
 *= require bootstrap_and_overrides
 *= require dataTables/jquery.dataTables
 *= require bootstrap/bootstrap-rails-popover
 */

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(asset_path('glyphicons-halflings-regular.eot'));
  src: url(asset_path('assets/glyphicons-halflings-regular.eot?#iefix')) format('embedded-opentype'),
  url(asset_path('glyphicons-halflings-regular.woff')) format('woff'),
  url(asset_path('glyphicons-halflings-regular.ttf')) format('truetype'),
  url(asset_path('glyphicons-halflings-regular.svg#glyphicons_halflingsregular')) format('svg');
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

footer {
  margin-top: 10px;
}

.dataTables_paginate {
  text-align: right;
}

.dataTables_filter {
  text-align: right;
}

div.dataTables_filter label {
  font-weight: normal !important;
}

div.dataTables_filter label input {
  margin-left: 5px;
}

div.dataTables_length label {
  font-weight: normal !important;
}

.pagination {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.notes-icon {
  display: inline;
}

.notes-formatted:last-child {
  display: inline;
}

.page-header {
  margin-top: 0 !important;
}
